*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    color: white;
}

h1 {
    margin-left: 40px;
    margin-top: 5px;
}

p {
    margin-right: 20px;
}

textarea {
    background-color: black;
    color: greenyellow;
    margin-left: 45px;
    margin-top: 2px;
}

